# Test template

* Hostname: `{{hostname}}`
* UID: `{{uid}}`
* GID: `{{gid}}`
* Effective UID: `{{euid}}`
* Effective GID: `{{egid}}`
* PWD: `{{pwd}}`

## Environment variables

* HOME: `{{env "HOME"}}`
* USER: `{{env "USER"}}`
* TERM: `{{env "TERM"}}`
* PATH: `{{env "PATH"}}`

## JSON

* .mouse:   `{{data.mouse}}`
* .answer:  `{{data.answer | printf "%q"}}`
* .happy:   `{{data.happy | printf "%q"}}`
* .ary: {{range data.ary}}
    * `{{.}}`{{end}}
