Test template
=============

This is used to exercise most or all of the features.

Functions
---------

-   Host name: `{{hostname}}`
-   User ID: `{{uid}}`
-   Group ID: `{{gid}}`
-   Effective User ID: `{{euid}}`
-   Effective Group ID: `{{egid}}`
-   Current Working Directory: `{{pwd}}`

Environment variables
---------------------

-   HOME:         `{{env "HOME"}}`
-   USER:         `{{env "USER"}}`
-   TERM:         `{{env "TERM"}}`
-   PATH:         `{{env "PATH"}}`
-   RUNNING_WITH: `{{env "RUNNING_WITH"}}`
-   TODAY_IS:     `{{env "TODAY_IS"}}`

Data
----

-   `.mouse`: `{{data.mouse}}`
-   `.answer`: `{{data.answer | printf "%q"}}`
-   `.happy`: `{{data.happy | printf "%q"}}`
-   `.difficult`: `{{data.difficult | printf "%q"}}`
-   `.difficult`: `{{data.difficult | js}}`
-   `.difficult`: `{{data.difficult | html}}`
-   `.difficult`: `{{data.difficult | urlquery}}`
-   `.ary[0]`: `{{index data.ary 0}}`
-   `.ary[1]`: `{{index data.ary 1}}`
-   `.ary`: {{range data.ary}}
    -   `{{.}}`{{end}}

<!-- vim: set ft=pandoc : -->
