Test template
=============

This is used to exercise most or all of the features.

Functions
---------

-   Host name: `{{hostname}}`
-   User ID: `{{uid}}`
-   Group ID: `{{gid}}`
-   Effective User ID: `{{euid}}`
-   Effective Group ID: `{{egid}}`
-   Current Working Directory: `{{pwd}}`

Environment variables
---------------------

-   HOME:         `{{env "HOME"}}`
-   USER:         `{{env "USER"}}`
-   TERM:         `{{env "TERM"}}`
-   PATH:         `{{env "PATH"}}`
-   RUNNING_WITH: `{{env "RUNNING_WITH"}}`
-   TODAY_IS:     `{{env "TODAY_IS"}}`

Data
----

-   `.mouse`: `{{json.mouse}}`
-   `.answer`: `{{json.answer | printf "%q"}}`
-   `.happy`: `{{json.happy | printf "%q"}}`
-   `.ary`: {{range json.ary}}
    -   `{{.}}`{{end}}

<!-- vim: set ft=pandoc : -->
