Environment Variables
=====================

Some examples of using environment variables.

-   HOME: `{{env "HOME"}}`
-   USER: `{{env "USER"}}`
-   TERM: `{{env "TERM"}}`
-   PATH: `{{env "PATH"}}`
-   Example of missing variables: `{{env "MISSING_NOT_EXISTING" | printf "%q" }}`

<!-- vim: set ft=pandoc : -->
